numpy==1.11.0
scipy==0.17.0
pandas==0.18.1
ipython==4.2.0
notebook==4.2.0
matplotlib==1.5.1
ipython-sql==0.3.6
patsy==0.4.1
cython==0.24

Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
backports.ssl-match-hostname==3.4.0.2
certifi==2015.4.28
gnureadline==6.3.3
jsonschema==2.4.0
mistune==0.5.1
mock==1.0.1
nose==1.3.6
ptyprocess==0.4
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.2
pyzmq==14.6.0
six==1.9.0
terminado==0.5
tornado==4.1
psycopg2==2.6.1
pgcontents==0.2.1
boto==2.38.0

https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl
git+https://github.com/oanda/oandapy.git
git+https://github.com/scikit-learn/scikit-learn.git

